@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url(./assets/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url(./assets/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url(./assets/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url(./assets/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url(./assets/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat Medium';
}

html,
body {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid #A1A1A1;
    
}

.menu-points {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    margin: 40px 10px;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.primary-button {
    font-family: 'Montserrat Medium';
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px 36px;
    border: 0;
}

.primary-button:focus {
    outline: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat Medium';
    font-size: 48px;
    line-height: 64px;
    color: white;
    text-align: center;
}

.home-section p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-align: center;
    margin: 0;
}

.home-section {
    background-image: url(./assets/img/Rectangle.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.home-section-content h1 {
    margin: 30px 110px 50px 110px;
}

h2 {
    font-family: 'Montserrat Bold';
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    margin: 0;
}

.services-section-intro h2 {
    text-align: center;
    margin: 0 110px;
}

.description {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.services-section-intro .description {
    margin: 50px 185px 70px 185px;
    text-align: center;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.service-item-block {
    display: flex;
}

.grey-circle {
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    width: 110px;
    height: 110px;
}

.blue-circle {
    border-radius: 50%;
    border: 1px solid #4985FF; 
    width: 90px;
    height: 90px;
    margin: 10px;
}

.blue-circle img {
    margin: 25px;
}

.service-item-descr {
    margin: 17px 17px 55px 17px;
    text-align: start;
}

.service-item-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}

.services-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 105px;
}

.standards {
    background-color: #F6F6F8;
}

.standards-section-content {
    padding: 100px 0 70px;
}

.standards-info-img {
    display: flex;
    padding-bottom: 90px;
    border-bottom: 1px solid #E0E0E0;;
}
.standards-info-img img {
    margin: auto 0;
}

.standards-descr .description {
    margin: 40px 120px 30px 0;
}

.standards-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.standards-info-img img {
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}

.standards-descr a {
    color: #4985FF;
}

.achievements {
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
}

.achievement-count-number {
    font-family: Montserrat Regular;
    font-size: 36px;
    line-height: 53px;
    padding-left: 20px;
}

.our-works {
    background: linear-gradient(#504DC2 50%, #fff 50%);
    padding: 100px 0 85px;
}

.our-works-title {
    display: flex;
    justify-content: space-between;
}

.our-works-title h2,
.our-works-title-button {
    flex: 1;
}

.our-works-title-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.our-works-title h2 {
    font-family: 'Montserrat Bold';
    color: white;
    font-size: 36px;
    line-height: 53px;
    margin: 0;
}

.our-works-content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

.our-works-item {
    width: 31%;
}

.our-works-item img {
    width: 100%;
}

.our-works-item h5 {
    font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 22px;
}

.our-works-item h5 span {
    color: #4985FF;
}

.our-works-item p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.our-works-item a {
    color: #4985FF;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

.our-projects {
    background: #F6F6F8;
}

.our-projects .container {
    text-align: center;
    padding: 100px 0 130px;
}

.our-projects .description {
    width: 60%;
    margin: 50px auto 70px;
}

.projects-items {
    display: flex;
    justify-content: space-between;

}

.our-projects img {
    width: 23%;
}

.our-projects button {
    margin-top: 50px;
}

.our-work-video {
    background-image: url(./assets/img/video-background.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.our-work-video h2 {
    color: white;
    padding: 70px 0 30px;
}

.our-work-video p {
    font-family: 'Montserrat Regular';
    color: white;
    margin: 0 auto 70px;
}

.our-work-video .video-item {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -15px;
}

.our-work-video .video-button {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-video .container {
    margin-top: 165px;
    border-bottom: 1px solid #E0E0E0;;
}

.subscription-section {
    text-align: center;
    padding: 85px 0;
}

.subscription-section h3 {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat Bold';
    margin: 0;
}

.subscription-section p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin: 20px 0 30px;
}

.subscription-section span {
    font-family: 'Montserrat Regular';
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}

.subscription-section .subscribe-block {
    display: flex;
    justify-content: center;
    width: 490px;
    margin: 0 auto 35px;
}

.subscribe-block input {
    border-radius: 30px 0 0 30px;
    flex: 2;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    padding: 14px 33px;
}

.subscribe-block input::placeholder {
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}

.subscribe-block input:focus {
    outline: 0;
}

.subscribe-block .primary-button {
    border-radius: 0 30px 30px 0;
    flex: 1;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

footer {
    background-color: #F6F6F8;
}

footer .container {
    padding: 70px 0;
    display: flex;
    border-bottom: 1px solid #E0E0E0;
}

footer > p {
    text-align: center;
    padding: 30px 0;
    margin: 0;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    font-family: 'Montserrat Regular';
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  
}

li.email::before {
    content: url("./assets/img/envelope.svg");
}

li.tel::before {
    content: url("./assets/img/call.svg");
}

li.street::before {
    content: url("./assets/img/placeholder.svg");
}

footer nav li::before {
    content: url('./assets/img/Right\ arrow.svg');
}

footer li {
    margin-bottom: 30px;
}

footer h3 {
    margin: 0 0 35px;

}

address {
    font-style: normal;
    width: 25%;
}

footer nav {
    width: 25%;
}

footer a {
    font-family: 'Montserrat Regular';
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin-left: 12px;
}

@media (max-width: 1200px) {
    .standards-info-img img {
    max-width: 45%;
    }
}

@media (max-width: 600px) {
    .our-works-item {
        width: 100%;
    }
    .container {
        width: 80%;
    }
    .services-section-content.container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .service-item-descr {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .home-section-content h1 {
        margin: 30px 50px;
    }
    .services-section-intro h2 {
        margin: 0 40px;
    }
    .subscription-section p {
        margin: 20px 10px;
    }
    .subscription-section .subscribe-block {
        width: 350px;
    }
    .achievements {
        justify-content: start;
    }
    .achievement-block {
        margin: 10px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 20px;
        line-height: 22px;
        }
        .our-works-content {
            flex-wrap: wrap;
        }
        .our-works-item {
            width: 47%;
            margin-bottom: 10px;
        }
    .our-works-title {
        flex-direction: column;
        align-items: start;
    }
    .our-works-title  button {
        margin-top: 30px;
    }

    .services-section-intro .description {
        margin-left: 0;
        margin-right: 0;
    }
    .services-section-intro h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .services-list {
        flex-wrap: wrap;
    }
    .standards-section-content {
        text-align: center;
    }
    .standards-descr h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .standards-info-img {
        flex-direction: column;
    }
    .standards-info-img img {
        max-width: 60%;
        margin: 15px auto;
    }
   .standards-descr .description {
    margin-left: auto;
    margin-right: auto;
   }
   .our-projects h2,
   .our-work-video h2 {
    font-size: 20px;
    line-height: 22px;
   }
   .achievements {
       flex-wrap: wrap;
       padding: 20px 0;
   }
   .achievement-block {
       margin-bottom: 10px;
   }
    .our-works-title h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .our-projects .description {
        width: 100%;
    }
    .projects-items {
        flex-wrap: wrap;
    }
    .our-projects img {
        width: 48%;
        margin-bottom: 20px;
    }
    .our-projects .container {
        padding: 70px 0;
    }
    .our-work-video p {
        margin-bottom: 10px;
    }
    .video-item img {
        width: 90%;
    }
    .after-video .container {
        margin-top: 40px;
    }
    footer address,
    footer nav {
        width: 50%;
    }

    footer .container {
        flex-wrap: wrap;
    }
}
















