@font-face {
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url(./assets/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url(./assets/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url(./assets/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url(./assets/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}

@font-face {
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url(./assets/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat Medium';
}

.navbar {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid #A1A1A1;
    
}

.menu-points {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    margin: 40px 10px;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.primary-button {
    font-family: 'Montserrat Medium';
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px 36px;
    border: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat Medium';
    font-size: 48px;
    line-height: 64px;
    color: white;
    text-align: center;
}

.home-section p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-align: center;
    margin: 0;
}

.home-section {
    background-image: url(./assets/img/Rectangle.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.home-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.home-section-content h1 {
    margin: 30px 185px 50px 185px;
}

h2 {
    font-family: 'Montserrat Bold';
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    margin: 0;
}

.services-section-intro h2 {
    text-align: center;
    margin: 0 185px;
}

.description {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.services-section-intro .description {
    margin: 50px 185px 70px 185px;
    text-align: center;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.service-item-block {
    display: flex;
}

.service-item-descr {
    margin: 17px 17px 55px 17px;
    text-align: start;
}

.service-item-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}

.services-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 105px;
}

.standards {
    background-color: #F6F6F8;
}

.standards-section-content {
    padding: 100px 0 70px;
}

.standards-info-img {
    display: flex;
    padding-bottom: 90px;
    border-bottom: 1px solid #E0E0E0;;
}

.standards-descr .description {
    margin: 40px 120px 30px 0;
}

.standards-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  

.standards-info-img img {
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
}

.standards-descr a {
    color: #4985FF;
}

.achievements {
    display: flex;
    justify-content: space-between;
    padding: 70px 60px;
}

.achievement-count-number {
    font-family: Montserrat Regular;
    font-size: 36px;
    line-height: 53px;
    padding-left: 20px;
}